#include "resource.h"
#include "afxres.h"
#include "commctrl.h"

IDI_ISLEMFC ICON "islemfc.ico"
IDI_FLOPPY_DRIVE ICON "floppydrive.ico"
IDI_NETWORK_DRIVE ICON "networkdrive.ico"
IDI_OPEN_FOLDER ICON "open_folder.ico"
IDI_HARD_DRIVE ICON "harddrive.ico"
IDI_COMPUTER ICON "computer.ico"
IDI_CLOSED_FOLDER ICON "closed_folder.ico"
IDI_CD_DRIVE ICON "cddrive.ico"

IDM_POPUP MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
BEGIN
	POPUP "Dummy"
	BEGIN
		POPUP "&File"
		BEGIN
			POPUP "Open &Interleaf File"
			BEGIN
				MENUITEM "On &Disk...", IDA_OPEN_IFF_DISK
				MENUITEM "In &RAM...", IDA_OPEN_IFF_RAM
			END
			MENUITEM "Open &Palette File...", IDA_OPEN_PALETTE
			MENUITEM "Set Media Path...", IDA_DLG_SET_MEDIA_PATH
		END
		POPUP "&Commands"
		BEGIN
			MENUITEM "G&et Variable...", IDA_DLG_GET_VARIABLE
			MENUITEM "Se&t Variable...", IDA_DLG_SET_VARIABLE
			MENUITEM "Set &Sound Volume...", IDA_DLG_SOUND_VOLUME
			MENUITEM "Set &Music Volume...", IDA_DLG_MUSIC_VOLUME
		END
		POPUP "&Options"
		BEGIN
			MENUITEM "&Tickle...", IDA_DLG_TICKLE
			MENUITEM "&Realism...", IDA_DLG_REALISM
			MENUITEM "Navigation", IDA_DLG_NAVIGATION
		END
		MENUITEM "&Video...", IDA_DLG_VIDEO
		MENUITEM "&Actions...", IDA_DLG_ACTIONS
		MENUITEM "&Start", IDA_DLG_START, GRAYED
		MENUITEM "S&top", IDA_DLG_STOP, GRAYED
		MENUITEM "E&xit", IDA_DLG_EXIT
	END
END

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
BEGIN
	IDS_REALISM_TOOLTIP, "Show or hide the realism dialog\nToggle Realism Dialog"
	IDS_GENERAL, "General"
	IDS_TIME, "Time"
	IDS_LOCATION, "Location"
END

IDD_GOTO_ACTION DIALOG 0, 0, 234, 55
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Go To"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "", 1003, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 8, 18, 144, 65
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 178, 6, 50, 14
	CONTROL "Cancel", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 178, 23, 50, 14
	CONTROL "Action:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 6, 41, 8
END

IDD_GETVARIABLE DIALOG 0, 0, 186, 47
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Get Variable"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "", IDC_EDIT_GETVARIABLE_NAME, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 16, 94, 13
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 6, 50, 14
	CONTROL "Cancel", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 23, 50, 14
	CONTROL "Name:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 6, 30, 8
END

IDD_SETVARIABLE DIALOG 0, 0, 186, 66
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Set Variable"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "", IDC_EDIT_SETVARIABLE_NAME, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 16, 94, 13
	CONTROL "", IDC_EDIT_SETVARIABLE_VALUE, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 44, 94, 13
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 6, 50, 14
	CONTROL "Cancel", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 23, 50, 14
	CONTROL "Name:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 6, 30, 8
	CONTROL "Value:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 34, 30, 8
END

IDD_SOUND_VOLUME DIALOG 0, 0, 186, 47
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Set Sound Volume"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "", IDC_EDIT_SOUND_VOLUME_VOLUME, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 16, 94, 13
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 6, 50, 14
	CONTROL "Cancel", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 23, 50, 14
	CONTROL "Volume:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 6, 30, 8
END

IDD_MUSIC_VOLUME DIALOG 0, 0, 186, 47
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Set Music Volume"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "", IDC_EDIT_MUSIC_VOLUME_VOLUME, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 16, 94, 13
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 6, 50, 14
	CONTROL "Cancel", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 23, 50, 14
	CONTROL "Volume:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 6, 30, 8
END

IDD_TICKLE DIALOG 0, 0, 187, 95
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Tickle Intervals"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 5, 50, 14
	CONTROL "Cancel", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 75, 50, 14
	CONTROL "TickleManager", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 5, 50, 10
	CONTROL "", IDC_TICKLE_EDIT_TICKLE, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 5, 45, 10
	CONTROL "Video", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 20, 50, 10
	CONTROL "", IDC_TICKLE_EDIT_VIDEO, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 20, 45, 10
	CONTROL "Notification", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 35, 50, 10
	CONTROL "", IDC_TICKLE_EDIT_NOTIFICATION, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 35, 45, 10
	CONTROL "Sound", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 50, 50, 10
	CONTROL "", IDC_TICKLE_EDIT_SOUND, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 50, 45, 10
	CONTROL "Music", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 65, 50, 10
	CONTROL "", IDC_TICKLE_EDIT_MUSIC, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 65, 45, 10
	CONTROL "Event", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 80, 50, 10
	CONTROL "", IDC_TICKLE_EDIT_EVENT, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 80, 45, 10
	CONTROL "Read", IDC_TICKLE_BUTTON_READ, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 40, 50, 14
END

IDD_ACTIONS DIALOG 0, 0, 345, 127
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Actions"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 288, 7, 50, 14
	CONTROL "Cancel", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 288, 24, 50, 14
	CONTROL "List1", IDC_START_LIST, WC_LISTVIEW, LVS_REPORT | LVS_SINGLESEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 126, 17, 149, 99
	CONTROL "Sources:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 57, 8
	CONTROL "", IDC_SOURCES_COMBOBOX, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 7, 17, 105, 68
	CONTROL "", IDC_ACTIONS_LIST, LISTBOX, LBS_STANDARD | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 48, 105, 68
	CONTROL "Actions:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 37, 47, 8
	CONTROL "Start List:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 126, 7, 65, 8
	CONTROL "Add", IDC_ADD_BUTTON, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 288, 41, 50, 14
	CONTROL "Delete", IDC_DELETE_BUTTON, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 288, 58, 50, 14
	CONTROL "Properties", IDC_PROPERTIES_BUTTON, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 288, 75, 50, 14
END

IDD_VIDEO DIALOG 0, 0, 191, 119
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Video"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "Full Screen", IDC_VIDEO_CHECKBOX_FULL_SCREEN, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 120, 43, 58, 10
	CONTROL "Flip Surfaces", IDC_VIDEO_CHECKBOX_FLIP_SURFACES, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 42, 58, 10
	CONTROL "Back Buffers In Video Memory", IDC_VIDEO_CHECKBOX_BACK_BUFFERS, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 54, 120, 10
	CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 98, 50, 14
	CONTROL "Cancel", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 134, 98, 50, 14
	CONTROL "Wide Angle", IDC_VIDEO_CHECKBOX_WIDE_ANGLE, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 120, 78, 48, 10
	CONTROL "bpp", IDC_STATIC, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 66, 61, 28
	CONTROL "8", IDC_VIDEO_RADIOBUTTON_8BPP, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 76, 22, 14
	CONTROL "16", IDC_VIDEO_RADIOBUTTON_16BPP, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 37, 76, 22, 14
	CONTROL "", IDC_VIDEO_LISTBOX_DEVICES, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 7, 7, 177, 29
END

IDD_NAVIGATION DIALOG 0, 0, 174, 173
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Navigation"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "Close", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 118, 154, 50, 14
	CONTROL "Slider1", IDC_NAV_SLIDER_LINVEL, TRACKBAR_CLASS, TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 34, 6, 88, 11
	CONTROL "LinVel", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 6, 24, 11
	CONTROL "", IDC_NAV_STATIC_LINVEL, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 5, 39, 12
	CONTROL "Slider1", IDC_NAV_SLIDER_ROTVEL, TRACKBAR_CLASS, TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 34, 21, 88, 11
	CONTROL "RotVel", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 21, 24, 11
	CONTROL "", IDC_NAV_STATIC_ROTVEL, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 20, 39, 12
	CONTROL "Slider1", IDC_NAV_SLIDER_LACCEL, TRACKBAR_CLASS, TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 34, 36, 88, 11
	CONTROL "LAccel", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 36, 24, 11
	CONTROL "", IDC_NAV_STATIC_LACCEL, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 35, 39, 12
	CONTROL "Slider1", IDC_NAV_SLIDER_RACCEL, TRACKBAR_CLASS, TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 34, 50, 88, 11
	CONTROL "RAccel", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 50, 24, 11
	CONTROL "", IDC_NAV_STATIC_RACCEL, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 49, 39, 12
	CONTROL "Slider1", IDC_NAV_SLIDER_DEADZ, TRACKBAR_CLASS, TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 34, 123, 88, 11
	CONTROL "DeadZ", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 123, 24, 11
	CONTROL "", IDC_NAV_STATIC_DEADZ, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 122, 39, 12
	CONTROL "Slider1", IDC_NAV_SLIDER_RSENS, TRACKBAR_CLASS, TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 34, 138, 88, 11
	CONTROL "RSens", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 138, 24, 11
	CONTROL "", IDC_NAV_STATIC_RSENS, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 137, 39, 12
	CONTROL "Use RotVel", IDC_NAV_CHECKBOX_ROTVEL, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 154, 55, 14
	CONTROL "Slider1", IDC_NAV_SLIDER_LDECCEL, TRACKBAR_CLASS, TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 34, 93, 88, 11
	CONTROL "LDeccel", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 93, 27, 11
	CONTROL "", IDC_NAV_STATIC_LDECCEL, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 92, 39, 12
	CONTROL "Slider1", IDC_NAV_SLIDER_RDECCEL, TRACKBAR_CLASS, TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 34, 107, 88, 11
	CONTROL "RDeccel", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 107, 27, 11
	CONTROL "", IDC_NAV_STATIC_RDECCEL, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 106, 39, 12
	CONTROL "Slider1", IDC_NAV_SLIDER_LACMIN, TRACKBAR_CLASS, TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 34, 64, 88, 11
	CONTROL "LAcMin", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 64, 24, 11
	CONTROL "", IDC_NAV_STATIC_LACMIN, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 63, 39, 12
	CONTROL "Slider1", IDC_NAV_SLIDER_RACMIN, TRACKBAR_CLASS, TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 34, 78, 88, 11
	CONTROL "RAcMin", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 78, 24, 11
	CONTROL "", IDC_NAV_STATIC_RACMIN, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 77, 39, 12
END

IDD_GENERAL DIALOG 0, 0, 187, 77
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "General"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "", IDC_EDIT_MILLISECONDS, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 85, 10, 60, 10
	CONTROL "ms", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 150, 10, 20, 10
	CONTROL "Preload resident", IDC_CHECKBOX_PRELOAD_RESIDENT, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 10, 75, 10
END

IDD_TIME DIALOG 0, 0, 209, 77
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Time"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "", IDC_EDIT_TIME, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 85, 10, 65, 10
	CONTROL "", IDC_EDIT_LOOPING, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 85, 35, 65, 10
	CONTROL "times", IDC_STATIC_TIMES, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 155, 35, 20, 10
	CONTROL "Duration", IDC_STATIC, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 5, 25, 200, 40
	CONTROL "Looping", IDC_COMBO_LOOPING, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 15, 35, 50, 10
	CONTROL "", IDC_EDIT_DURATION, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 85, 50, 65, 10
	CONTROL "Duration", IDC_COMBO_DURATION, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 15, 50, 35, 10
	CONTROL "ms", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 155, 50, 20, 10
	CONTROL "ms", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 155, 10, 20, 10
	CONTROL "Start time", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 10, 65, 10
END

IDD_LOCATION DIALOG 0, 0, 204, 77
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Location"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "Location:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 5, 30, 10
	CONTROL "X:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 5, 8, 8
	CONTROL "Y:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 90, 5, 8, 8
	CONTROL "Z:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 140, 5, 8, 8
	CONTROL "", 1031, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 50, 5, 35, 12
	CONTROL "", 1032, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 150, 5, 35, 12
	CONTROL "", 1033, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 100, 5, 35, 12
	CONTROL "Direction:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 30, 30, 10
	CONTROL "X:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 30, 8, 8
	CONTROL "Y:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 90, 30, 8, 8
	CONTROL "Z:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 140, 30, 8, 8
	CONTROL "", 1034, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 50, 30, 35, 12
	CONTROL "", 1035, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 150, 30, 35, 12
	CONTROL "", 1036, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 100, 30, 35, 12
	CONTROL "Up:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 55, 30, 10
	CONTROL "X:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 55, 8, 8
	CONTROL "Y:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 90, 55, 8, 8
	CONTROL "Z:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 140, 55, 8, 8
	CONTROL "", 1037, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 50, 55, 35, 12
	CONTROL "", 1038, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 150, 55, 35, 12
	CONTROL "", 1039, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 100, 55, 35, 12
END

IDD_TIMING DIALOGEX 0, 0, 237, 168
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "+"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "Generic6", IDC_SLIDER_SPEED, TRACKBAR_CLASS, TBS_HORZ | TBS_AUTOTICKS | TBS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 11, 169, 19
	CONTROL "High Speed", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 3, 42, 8
	CONTROL "1000 ms", IDC_STATIC_AVG_3DRENDER, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 136, 66, 28, 8
	CONTROL "1000 ms", IDC_STATIC_MIN_FRAMETIME, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 51, 46, 28, 8
	CONTROL "Min", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 46, 33, 8
	CONTROL "1000 ms", IDC_STATIC_MAX_FRAMETIME, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 51, 56, 28, 8
	CONTROL "Max", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 56, 33, 8
	CONTROL "1000 ms", IDC_STATIC_AVG_FRAMETIME, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 51, 66, 28, 8
	CONTROL "Average", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 66, 33, 8
	CONTROL "Events profiling", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 88, 50, 8
	CONTROL "Event:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 103, 25, 8
	CONTROL "Quantity:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 92, 103, 28, 8
	CONTROL "Time:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 122, 103, 20, 8
	CONTROL "Time/Event:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 149, 103, 40, 8
	CONTROL "Time/Frame:", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 194, 103, 40, 8
	CONTROL "c_notificationButtonDown", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 118, 75, 8
	CONTROL "c_notificationMouseMove", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 128, 80, 8
	CONTROL "0", IDC_STATIC_QTY_MOUSEMOVE, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 92, 128, 25, 8
	CONTROL "0", IDC_STATIC_QTY_BUTTON_DOWN, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 92, 118, 25, 8
	CONTROL "0 ms", IDC_STATIC_TIM_BUTTON_DOWN, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 122, 118, 25, 8
	CONTROL "0 ms", IDC_STATIC_TIM_EVNT_BUTTON_DOWN, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 152, 118, 35, 8
	CONTROL "0 ms", IDC_STATIC_TIM_FRM_BUTTON_DOWN, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 197, 118, 25, 8
	CONTROL "0 ms", IDC_STATIC_TIM_MOUSEMOVE, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 122, 128, 25, 8
	CONTROL "0 ms", IDC_STATIC_TIM_EVNT_MOUSEMOVE, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 152, 128, 35, 8
	CONTROL "0 ms", IDC_STATIC_TIM_FRM_MOUSEMOVE, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 197, 128, 25, 8
	CONTROL "Frame: Time        Rate", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 42, 34, 74, 8
	CONTROL "3D Render", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 134, 34, 38, 8
	CONTROL "High Detail", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 132, 2, 36, 11
	CONTROL "  0.0 fps", IDC_STATIC_MIN_FRAMERATE, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 87, 46, 28, 8
	CONTROL "  0.0 fps", IDC_STATIC_MAX_FRAMERATE, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 87, 56, 28, 8
	CONTROL "  0.0 fps", IDC_STATIC_AVG_FRAMERATE, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 87, 66, 28, 8
	CONTROL "1000 ms", IDC_STATIC_REQ_FRAMETIME, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 51, 76, 28, 8
	CONTROL "Requested", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 76, 38, 8
	CONTROL "  0.0 fps", IDC_STATIC_REQ_FRAMERATE, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 87, 76, 28, 8
	CONTROL "Polygons", IDC_STATIC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 145, 32, 8
	CONTROL " 0.0 tps", IDC_STATIC_POLYGON_RATE, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 45, 145, 57, 8
	CONTROL "", IDC_EDIT_PARTS_THRESHOLD, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 185, 81, 43, 16
	CONTROL "Parts Threshold", IDC_STATIC, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 182, 63, 48, 18
	CONTROL "", IDC_STATIC_UNK1063, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 178, 15, 52, 16
END

IDD_MEDIAPATH DIALOG 0, 0, 225, 127
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Media Path"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "OK", IDOK, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 7, 50, 14
	CONTROL "Cancel", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 24, 50, 14
	CONTROL "Tree1", IDC_MEDIAPATH_TREE, WC_TREEVIEW, TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_DISABLEDRAGDROP | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 6, 7, 154, 113
END

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x40004
FILETYPE 0x1
BEGIN
BLOCK "StringFileInfo"
BEGIN
	BLOCK "040904b0"
	BEGIN
		VALUE "CompanyName", "Mindscape, Inc."
		VALUE "FileDescription", "Omni Demo"
		VALUE "FileVersion", "1, 0, 0, 0"
		VALUE "InternalName", "Omni Demo"
		VALUE "LegalCopyright", "Copyright \xA9 1995"
		VALUE "OriginalFilename", "Omni Demo"
		VALUE "ProductName", "Omni Demo"
		VALUE "ProductVersion", "1, 0, 0, 0"
	END
END

BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409 0x04B0
	END
END
